# Supabase
VITE_SUPABASE_URL=https://ghpmcjozeubrmiuzyfey.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdocG1jam96ZXVicm1pdXp5ZmV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MjYzMjYsImV4cCI6MjA5MzUwMjMyNn0.3UHkakDeyj6bDdDo5DcoiLWLMxCmdPc1KaZ7sZNSV6w
VITE_SERVER_URL=https://tty-live.vercel.app
VITE_DEEPSEEK_API_KEY=sk-783270eb5a8643888c1bb1565708554f

# Backend (Vercel env vars - not VITE_ prefixed)
SUPABASE_URL=https://ghpmcjozeubrmiuzyfey.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdocG1jam96ZXVicm1pdXp5ZmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkyNjMyNiwiZXhwIjoyMDkzNTAyMzI2fQ.UqXXSemIA3-mxlar32e84TKUlYxh9lhbSk5oVvxfrn0
GITHUB_CLIENT_ID=Ov23liNpUmewmlMCmMIu
GITHUB_CLIENT_SECRET=e243acc7d2de58c4d9242315afb93b18649e473c
STRIPE_SECRET_KEY=sk_test_51SsYnBCMxCYkRCoNMjs5Z1nBK0niCtmtJBQTtR7Ml1uo8sWsJN1Ujr7U3WOew6L2wVCSLftWkdiVjPGzGxJpIpmh00L7rsJb1B
STRIPE_WEBHOOK_SECRET=whsec_LfmkvHGU8Nsm4UTIhtZXvmN6PtmYAYjk
STRIPE_BASIC_PRICE_ID=price_1TTYqGCBOoQTb0Npwes7Qbia
STRIPE_PRO_PRICE_ID=price_1TTYqLCBOoQTb0NpsP3FnfNP
DEEPSEEK_API_KEY=sk-783270eb5a8643888c1bb1565708554f
FRONTEND_URL=https://tty-live.vercel.app
SERVER_URL=https://tty-live.vercel.app
VIEWER_URL=https://tty-live-viewer.vercel.app
